
a {
  color:#FF1493;
  font-size:200%;
  font-weight: bold;
  text-decoration: none;
  border:3px solid #F9067F;
  font-size:200%;
}
body{
      background-image: url("../image/1.jpeg");
    }
